:root {
	--title-color: #2973B2;
	--bg-color: #F2EFE7;
	--text-color: #091529;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Tinos", serif;
	font-style: normal;
	color: var(--text-color);
	font-size: 18px;
}

body {
	background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--title-color);
	font-family: "Outfit", sans-serif;
	font-weight: 700;
	line-height: 1.2;
	margin: .2rem 0 0 0;
}

h1 {
	font-size: 3rem;
	margin: .5rem 0;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.2rem;
}

p {
	font-size: 1rem;
}

main {
	padding: 20px;
	width: 100%;
	max-width: 760px;
	margin: 0 auto;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	gap: .5rem;
}

input {
	padding: 1rem;
	border: none;
	border-radius: 9999px;
	background-color: #FFF;
	width: 80%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/* For different background colors */
input:-webkit-autofill {
    -webkit-text-fill-color: inherit !important;
    transition: background-color 500000s ease-in-out 0s;
}

label {
	font-size: 1rem;
	font-weight: 700;
	color: var(--title-color);
	font-family: "Outfit", sans-serif;
	width: 80%;
	text-align: left;
	margin-left: 2rem;
}

button {
	width: fit-content;
	padding: .3rem 2rem;
	border: none;
	border-radius: 9999px;
	background-color: var(--title-color);
	color: #FFF;
	cursor: pointer;
}

#loading {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
}

.slot-container {
	display: flex;
	flex-direction: column;
	gap: .2rem;
	padding: 1rem 2rem;
}

#response {
	display: flex;
	flex-direction: column;
	gap: .2rem;
}

#sources {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.source {
	display: flex;
	flex-direction: column;
	gap: .1rem;
	background-color: #FFF;
	padding: .8rem 1rem;
	border-radius: 1.5rem;
}

.source p {
	font-size: .8rem;
}

.hidden {
	display: none !important;
}

